<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966960658099-bje7jbdpef48h5ifp8f6u6nsggb98dc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966960658099-bje7jbdpef48h5ifp8f6u6nsggb98dc6</string>
	<key>API_KEY</key>
	<string>AIzaSyCrvmlO1FMQ0X6GrmXixwf3Zp6IvPEtDp8</string>
	<key>GCM_SENDER_ID</key>
	<string>966960658099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hfbatista.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c738b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c738b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966960658099:ios:e6978dd8dd76252e8162c6</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-c738b.firebaseio.com</string>
</dict>
</plist>